pandas
python-dotenv
requests
transformers
matplotlib
langchain
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-ollama
langchain-qdrant
sentence-transformers
langchain_classic
flashrank
ragas
datasets
fastapi
uvicorn[standard]
# langchain-openai